menu "Zigbee Device"
    
 
    config ZB_STACK_DEPTH
        int "Stack depth for Zigbee task"
        range 2048 8192
        default 4096
        help
            Use uxTaskGetStackHighWaterMark(ZbNode::getInstance()->getZbTask())
            to check remaining available stack.

endmenu